@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root {
    --background: #F2F7FC;
    --text-color: #FFFFFF;
    --paragraph-color: #121212;
    --light-gray-text: #B1C2CF;
    --current-link-color: #7E9AB0; 
    --assign-btn-color: #FF5561;
    --assign-btn-hover-color: #ff202f;
    --nav-mobile-background: #FFFFFF;
    --new-guys-background: #FFFFFF;
    --new-guys-color: #315B7C;
    --more-button-hover-color: #31547C;
    --nav-link: #315B7C;
}
* {
    border-radius: 10px;
    border-width: 0px;
}
img {
    border-radius: 0%;
}
body {
    background-color: var(--background);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    padding: 20px 20px 91px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 1240px;
}
h1 {
    font-size: 54px;
    font-weight: 700;
    line-height: 54px;
    margin: 0;
}
h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    margin: 0;
}
h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    margin: 0;
}
button, .b1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--text-color);
}
p, .p1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Manrope', sans-serif;
    color: var(--paragraph-color);
    margin: 0;
}
.b1 {
    margin-top: 20px;
}
a {
    text-decoration: none;
    color: inherit
}
.main-header {
    grid-column: 2;
    grid-row: 1;
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 20px
}
.user-info {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 295px;
    height: 50px;
}
.user-name {
    font-weight: bold;
}
.user-status {
    font-size: 12px;
    color: #666666
}
.search {
    width: 610px;
    height: 50px;
    padding: 12px 30.5px;
    background-image: url('../images/search.jpg');
    background-repeat: no-repeat;
    background-position-x: right 20px;
    background-position-y: center;
}
.search::placeholder {
    color: var(--light-gray-text);
    font-size: 16px;
    font-weight: 400;
}
.left {
    grid-column: 1;
    grid-row: 2;
}
.left-sidebar {
    width: 305px;
    height: 371px;
    margin-left: -50px;
    padding-right: 20px;
}
.left-sidebar img {
    vertical-align: sub;
}
.left-sidebar ul {
    list-style: none;
}
.left-sidebar ul > *:not(:first-child) {
    margin-top: 8px;
}
.left-sidebar li  {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    color: var(--nav-link);
    display: flex;
    column-gap: 20px;
    align-items: center;
    width: 265px;
    height: 46px;
    padding: 11px 10px;
    box-sizing: border-box;
}
.left-sidebar li:hover {
    background-color: var(--light-gray-text);
    color: var(--text-color);
}
.current {
    background-color: var(--current-link-color);
    color: var(--text-color) !important;
} 
.left-sidebar li:hover img, .current img {
    filter: brightness(0) invert();
}
.new-guys {
    width: 295px;
    height: 452px;
    box-sizing: border-box;
    background-color: var(--new-guys-background);
    padding: 20px 20px 61px;
    margin-top: calc(80px - 11px);

    h3 {
        width: 254px;
        height: 116px;
    }
    img {
        border-radius: 0px;
        margin: 40px auto;
    }
}
.new-guys > * {
    text-align: center;
}
.new-guys h3 {
    color: var(--new-guys-color);
    text-align: initial;
}
.more-button {
    width: 168px;
    height: 45px;
    padding: 11px 40px 10px;
    background-color: var(--new-guys-color);

    &:hover {
        background-color: var(--more-button-hover-color);
    }
}
.nav-mobile {
    display: none;
}
.nav-mobile div {
    padding: 26px 20px 35px;
}
.main {
    grid-column: 2;
    grid-row: 2;
    color: var(--text-color);

    > h3 {
        margin-top: 20px;
    }
}
.assign-button {
    width: 190px;
    height: 45px;
    background-color: var(--assign-btn-color);
    padding: 11px 25px 10px;

    &:hover {
        background-color: var(--assign-btn-hover-color);
    }
}

@media (max-width: 500px) {
    body {
        width: 320px;
        padding: 0;
        gap: 0;
    }
    .b1 {
        margin-top: 10px;
    }
    .main-header {
        display: none;
    }
    .left {
        display: none;
    }
    .nav-mobile {
        display: initial;
        width: 320px;
        height: 80px;
        position: relative;
        background-color: var(--nav-mobile-background);
    }
    .nav-mobile img {
        position: absolute;
        top: 26px;
        right: 20px;
    }
    .main {
        grid-column: 1;
        grid-row: 2;
    }
}